%template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: $primary-color;
  color: $secundary-color;
  @include breakpoint(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
}
