.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 15px;
  padding: 6px 8px;
  border-radius: 4px;
  min-width: 64px;
  border: 0;
  outline: 0;
  border: 1px solid $dark-color;
  //   font-size: 0.875rem;
  color: $dark-color;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  // text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;

  cursor: pointer;
  background-color: transparent;

  &:active {
    border: 1px solid $darker-primary;
  }
}
.button--error {
  background-color: #d1202c;
  border: 1px solid $secundary-color;
  color: $secundary-color;
  cursor: no-drop;
}
.main-button {
  background-color: $dark-color;
  color: $secundary-color;
}
.clickable {
  cursor: pointer;
}
