.modal {
  position: fixed;
  display: flex;
  border: 1px solid $dark-color;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 0 auto;
  // margin-bottom: 100px;
  background-color: $secundary-color;
  text-align: center;
  height: 200px;
  &__title {
    border-bottom: 2px solid $dark-color;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }
}
