.modal {
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  text-align: center;
  &__title {
    border-bottom: 2px solid $dark-color;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }
  &__content {
    font-size: 20px;
    margin: 20px;
  }
}

.wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.3);
}
